### Symfony core ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/*/*/*.php
/config/secrets/prod/prod.decrypt.private.php

### Logs & cache ###
/var/*
!/var/cache
!/var/cache/prod
/var/log/*
!/var/log/.gitkeep

### PHPUnit ###
/phpunit.xml
/.phpunit.cache

### Assets build (NO Webpack, NO Encore) ###
/public/assets
/public/bundles

### LiipImagine cache ###
/public/media/cache

### PHP-CS-Fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache

### PHPStan ###
/phpstan.neon

### OS / IDE ###
.DS_Store
Thumbs.db
.idea/
.vscode/

### IMPORTANT FOR OVH GIT DEPLOY ###
# vendor MUST be versioned because OVH does NOT run composer
# DO NOT IGNORE vendor
# /vendor/   <-- intentionally NOT ignored
