{#{% extends 'base.html.twig' %}#}

{#{% block title %}Organigramme{% endblock %}#}

{#{% block body %}#}
{#    <section class="container my-5 text-center">#}
{#        <h1 class="mb-4">Conseil d'administration</h1>#}

{#        <div id="organigramme" style="height: 600px;"></div>#}
{#    </section>#}

{#    <script src="https://balkan.app/js/OrgChart.js"></script>#}
{#    <script>#}
{#        document.addEventListener('DOMContentLoaded', function() {#}
{#            const chart = new OrgChart(document.getElementById('organigramme'), {#}
{#                template: "olivia",#}
{#                enableSearch: false,#}
{#                mouseScrool: OrgChart.none,#}
{#                nodeBinding: {#}
{#                    field_0: "name",#}
{#                    field_1: "title",#}
{#                    img_0: "image"#}
{#                },#}
{#                nodes: {{ data|raw }}#}
{#            });#}
{#        });#}
{#    </script>#}
{#{% endblock %}#}
