<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Compte approuvé</title>
</head>
<body>
<p>Bonjour {{ user.fullName }},</p>

<p>Votre compte sur notre site a été validé par l'administrateur. Vous pouvez désormais vous connecter.</p>

<p>
    <a href="{{ login_url }}">Se connecter</a>
</p>

<p>Merci et à bientôt !</p>
</body>
</html>
