
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon Site{% endblock %}</title>

    {# CSS du thème #}
    {% for css in ['bootstrap.min.css', 'style.css'] %}
        <link rel="stylesheet" href="{{ asset('css/' ~ css) }}">
    {% endfor %}
</head>
<body>

{# Navbar #}
{% include 'partials/_navbar.html.twig' %}

<main>
    {% block body %}{% endblock %}
</main>

{# Footer #}
{% include 'partials/_footer.html.twig' %}

{# JS du thème #}
{% for js in ['bootstrap.bundle.min.js', 'main.js'] %}
    <script src="{{ asset('js/' ~ js) }}"></script>
{% endfor %}
</body>
</html>

